<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainViewController</key>
	<dict>
		<key>dartCenterYOffset</key>
		<integer>60</integer>
		<key>takeOffLabelSize</key>
		<integer>22</integer>
		<key>unlockWorldLabelSize</key>
		<integer>24</integer>
		<key>sideMenuButtonCenter</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>takeOffLabelRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>26</integer>
		</dict>
		<key>unlockWorldLabelRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>26</integer>
		</dict>
		<key>unlockWorldLabelCenter</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>234</integer>
		</dict>
		<key>spotrekLogoCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>startButtonRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>288</integer>
			<key>height</key>
			<integer>288</integer>
		</dict>
		<key>startButtonCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>selectTrekViewController</key>
	<dict/>
	<key>trekStatusViewController</key>
	<dict/>
</dict>
</plist>
