<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainViewController</key>
	<dict>
		<key>dartCenterYOffset</key>
		<integer>60</integer>
		<key>takeOffLabelSize</key>
		<integer>22</integer>
		<key>unlockWorldLabelSize</key>
		<integer>24</integer>
		<key>sideMenuButtonCenter</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>takeOffLabelRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>26</integer>
		</dict>
		<key>unlockWorldLabelRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>26</integer>
		</dict>
		<key>unlockWorldLabelCenter</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>234</integer>
		</dict>
		<key>spotrekLogoCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>startButtonRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>288</integer>
			<key>height</key>
			<integer>288</integer>
		</dict>
		<key>startButtonCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>selectTrekViewController</key>
	<dict/>
	<key>trekStatusViewController</key>
	<dict>
		<key>curtainOffset</key>
		<integer>136</integer>
		<key>sideButtonOffsetY</key>
		<integer>140</integer>
		<key>btnTrekRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>110</integer>
		</dict>
		<key>btnTrekCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>90</integer>
		</dict>
		<key>lblStatusRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
		<key>lblStatusFontSize1</key>
		<integer>70</integer>
		<key>lblStatusFontSize2</key>
		<integer>40</integer>
		<key>lblStatusFontSize3</key>
		<integer>25</integer>
		<key>btnPlayRect</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>250</integer>
		</dict>
		<key>btnPlayCenter</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>646</integer>
		</dict>
		<key>btnPlayFontSize</key>
		<integer>60</integer>
		<key>dottedLineHeight</key>
		<integer>4</integer>
		<key>dottedLineCenterY1</key>
		<integer>262</integer>
		<key>dottedLineCenterY2</key>
		<integer>510</integer>
		<key>commonTableRowHeight</key>
		<integer>70</integer>
	</dict>
	<key>ActionsTableViewCell</key>
	<dict>
		<key>cellHeight</key>
		<integer>70</integer>
		<key>labelOffsetX</key>
		<integer>50</integer>
		<key>fontSize</key>
		<real>18</real>
	</dict>
</dict>
</plist>
